html {
    font-size: 62.5%;
}

body {
    background-color: #DEE2E6;
}

/*---------------
   Sign up sheet
---------------*/

.sign-up-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign-up-card {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    background-color: white;
    padding: 2.4rem;
    border-radius: 0.5rem;
}

.sign-up-card__element {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: solid;
    border-color: #DEE2E6;
}

.sign-up-card__header {
    font-size: 1.6rem;
    text-align: center;
}

.sign-up-card__create-button {
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: #4C6EF5;
    border-color: #365FC7;
    color: white;
}


.sign-up-form__wrapper {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25vh;
}

.sign-up-card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.sign-up-card__login {
    text-decoration: none;
    color: black;
}

.sign-up-card__login:hover {
    text-decoration: underline;
}
