# Necessary environment variables are described here
# Specify the environment: prod, dev or test
ENV=prod

# Backend environment variables here
MYSQL_USER=user
MYSQL_PASSWORD=pwd
MYSQL_HOST=cydb
MYSQL_PORT=3306
MYSQL_DATABASE=cy
JWT_SECRET_KEY=Secret_JWT_Signature_key

# Frontend environment variables here
