/* ==============
  Dashboard
  =============== */

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-larger);
  font-size: var(--font-size-medium);
  max-width: 100rem;
  min-height: calc(100vh - 13.3rem);
  margin: auto;
}
