/*---------------
    Resets
---------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

/*---------------
  Global
---------------*/
:root {
  /* colors, numbering from darkest to lightest */
  --clr-dark-1: #000000;
  --clr-dark-2: #212529;
  --clr-dark-3: #343a40;
  --clr-dark-4: #495057;
  --clr-dark-5: #868e96;
  --clr-dark-6: #adb5bd;
  --clr-light-1: #ced4da;
  --clr-light-2: #dee2e6;
  --clr-light-3: #e9ecef;
  --clr-light-4: #f1f3f5;
  --clr-light-5: #f8f9fa;
  --clr-light-6: #fff;

  --clr-accent-dark-1: #364fc7;
  --clr-accent-dark-2: #3b5bdb;
  --clr-accent-dark-3: #4263eb;
  --clr-accent-dark-4: #4c6ef5;
  --clr-accent-dark-5: #5c7cfa;
  --clr-accent-light-1: #748ffc;
  --clr-accent-light-2: #91a7ff;
  --clr-accent-light-3: #bac8ff;
  --clr-accent-light-4: #dbe4ff;
  --clr-accent-light-5: #edf2ff;

  --clr-success: #23d792;
  --clr-error: #f7463c;

  /* Shadow */
  --shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

  /* Border radius */
  --border-radius: 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light-4);
}

img {
  max-width: 100%;
}

.logo {
  font-size: 2.5rem;
  color: var(--clr-accent-dark-1);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.success {
  color: var(--clr-success);
}

.error {
  color: var(--clr-error);
}

/*---------------
  Typography
---------------*/

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 4.883rem;
}

h2 {
  font-size: 3.906rem;
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

p,
a {
  font-size: 1.6rem;
  line-height: 1.5em;
}

.box {
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
