html{
    font-size: 10px;
}

/**
Sign-in Styles
 */

body{
    color: black; /*temporary*/
    min-height: 100vh;
}

.sign-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-light-3);
}

.sign-in-form-wrapper{
    background-color: var(--clr-light-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
    border-radius: 1rem;

}

.sign-in-header{
    font-size: 1.6rem;
    padding-bottom: calc(2.4rem - 0.4rem);
}

.sign-in-input{
    width: 100%;
    display: inline-block;
    border: solid;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.8rem;
    border-color: var(--clr-light-3);

}

input:focus{
    outline: 0.05rem solid #86a9ef;
}

.sign-in-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    row-gap: 2.4rem;

}

#sign-in-button{
    background-color: var(--clr-accent-1);
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    color: white;
    width: 100%;
}

.sign-in-button-container{
    font-size: 1rem;
}

.sign-in-footer{
    text-align: center;
    margin-top: 2rem;
}

.sign-in-footer a{
    text-decoration: none;
    color: black;
}

.sign-in-footer a:hover{
    text-decoration: underline;
}




