/* ==============
  Crypto Table
  =============== */

table {
  width: 100%;
  border-spacing: var(--spacing-medium);
  background-color: var(--clr-light-6);
}

.table__column {
  text-align: left;
  padding: 0 var(--spacing-tiny);
}

.table__column--title {
  font-weight: bold;
}

.table__column--align-right {
  text-align: right;
}
