html {
    font-size: 62.5%;
}

body {
    background-color: var(--clr-light-3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------
   Sign up sheet
---------------*/

.sign-up-form {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    background-color: var(--clr-light-0);
    padding: 2.4rem;
}

.sign-up-form__input {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: solid;
    border-color: var(--clr-light-3);
}

.sign-up-form__header {
    font-size: 1.6rem;
    text-align: center;
    color: black;
}

.sign-up-form__create-button {
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: var(--clr-accent-1);
    color: var(--clr-light-0);
}

.sign-up-form__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    color: black;
}

.sign-up-form__login {
    text-decoration: none;
    color: black;
}

.sign-up-form__login:hover {
    text-decoration: underline;
}
